body {
	font-family: arial;
	width: 970px;
	padding: 25px;
  margin: 25px auto;
}


p:first-of-type{
  font-weight: bold;
}

  



p+p::first-letter{
  font-size: 200%;;
}






























