body {
	font-family: arial;
	width: 970px;
	padding: 25px;
  margin: 25px auto;
  counter-reset: h2counter;
  counter-reset: h3counter;
}


h1{
  counter-reset: h2counter;
}
h2:before{
  content: counter(h2counter) ".\0000a0\0000a0";
  counter-increment: h2counter;
  counter-reset: h3counter;
}
h3:before{
  content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
  counter-increment: h3counter;
}


h2+p:first-letter{
  font-size: 200%;;
}



p:first-of-type{
  font-weight: bold;
}

  

table{
  width: 500px;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
}


thead{
  background-color: navy;
  color: white ;
  font-weight: bold;
}


td:first-child{
  width: 50%;
  text-align: left;
  float: left;
  margin-left: 10px;
  padding: 2px;
}


td:nth-child(2){
  width: 20%;
}


td:nth-child(3){
  width: 30%;
}

tr:nth-child(even) {background: #CCC}



a[href^="//"]:after, 
a[href^="http://"]:after, 
a[href^="https://"]:after {
  content: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
}








